set_io clk		15
set_io board_btn		41  #BUT1
set_io rst		        42  #BUT2
set_io led1		40
set_io led2		51
set_io midi_rx	1
set_io midi_tx	2

set_io debug1  18
set_io debug2  19
set_io debug3  20
set_io debug4  21

#spi
set_io spi_do   46
set_io spi_di   45
set_io spi_clk  48
set_io spi_cs   49

set_io -pullup yes btn2_pin_1  4
set_io -pullup yes btn2_pin_2  7
