set_io clk		15

set_io board_btn		41  #BUT1
set_io rst_i		    42  #BUT2

set_io led1		40
set_io led2		51

set_io midi_rx	1
set_io midi_tx	2

set_io debug[0]  18		# spi rst
set_io debug[1]  19		# spi_stb_o
set_io debug[2]  13		# spi_cs
set_io debug[3]  16		# spi_clk
set_io debug[4]  27		# spi_do
set_io debug[5]  26		# spi_di
set_io debug[6]  25		# spi_ack_i
set_io debug[7]  24		# spi_rty_i

# spi flash
set_io spi_do   46
set_io spi_di   45
set_io spi_clk  48
set_io spi_cs   49

# SPDT buttons (1 and 3 pulled up, 2 - GND)
set_io -pullup yes btn2_pin_1  4
set_io -pullup yes btn2_pin_2  7

set_io -pullup yes btn3_pin_1  8
set_io -pullup yes btn3_pin_2  9

set_io -pullup yes btn4_pin_1  10
set_io -pullup yes btn4_pin_2  12

set_io -pullup yes btn5_pin_1  20
set_io -pullup yes btn5_pin_2  21
